.content {
    background-color: #282c34;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.column {
    flex: 0 0 33%;
    max-width: 33%;
}

.input {
    background-color: azure;
}
